

.container {
  max-width: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  grid-gap: 12px;
}


.product {
  background-color: #e0e0e0;
  border-radius: 25px;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
  padding: 12px;
  width: auto; 
  max-width: auto; 
  margin: 0 auto; 
}

.product img {
  width: 720px; 
  max-width: 100%; 
  height: 720px; 
  border-radius: 10px; 
}

.product h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.product p {
  font-size: 45px;
  color: #000000;
}

.product button {

border: 5px;
width: 40px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
background-color: #8bc34a;
color: #fff;
border-radius: 8px;
}

.product button:hover {
  background-color: #00ff40;
}

.main-window {
  padding: 2px; 
  text-align: center;
  border: 2px solid #ccc; 
  border-radius: 5px; 
  margin: 20px auto; 
  width: auto;
  display: flex;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}


.side-window {
  border-right: 3px solid #1cee00;
  display: none;
  width: auto; /* Задайте ширину бічного вікна */
  height: auto; /* Задайте висоту бічного вікна */
  background-color: #f5f5f5; /* Задайте колір бічного вікна */
  animation: slideIn 0.9s forwards;
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.side-window.closed {
  animation: slideOut 0.5s forwards;
}


.toggleButton{
  width: 45px;
  height: 45px;
  padding: 0px;
}

.category-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border: none;
  cursor: pointer;
  transition: background-color 0,1s ease;
}

.category-button:hover {
  background-color: #ddd;
}

.container-input {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
}

.input {
  flex-grow: 1;
}

.search-button {
  margin-left: 10px;
  padding: 5px 10px;
}


.product img {
  width: 240px; /* Або можна встановити конкретну ширину, наприклад, 200px */
  height: 240px; /* Автоматична висота, щоб зберегти пропорції */
  object-fit: fill;
  border-radius: 7px;

}


.price {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}


.show-more-button {
  text-align: center;
  margin-top: 12px;
  display: flex;
  justify-content: center; /* Це вирівняє елементи по горизонталі */
}

.show-more-button button {
  padding: 10px 20px;
  background-color: #00ff0d;
  color: #fff;
  border: none; /* Виправлення помилки у властивості border */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.show-more-button button:hover {
  background-color: #0056b3;
}
.recently-viewed{
  text-align: center;
}

.show-more-button{
  text-align: center;
}



.sidebar {
  width: 250px;
  padding: 20px;
  background-color: #f4f4f4;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.filter {
  margin-bottom: 20px;
}

.slider {
  width: 100%;
}


/* dialog */